---
layout: default
---
<!-- ...::: Start Breadcrumb Section :::... -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="box-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="container text-center">
            {% if page.title %}
            <h2 class="title">{{ page.title }}</h2>
            {% else %}
            <h2 class="title">{{ page.url | remove:'/index.html' | split: '/' | last | capitalize }}</h2>
            {% endif %}
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">


                {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}

                <li class="breadcrumb-item"><a href="/">Home</a></li>
                {% for crumb in crumbs offset: 1 %}
                {% if forloop.last %}
                <li class="breadcrumb-item active" aria-current="page">{{ crumb | replace:'-',' ' | remove:'.html' |
                  capitalize }}</li>
                {% else %}
                <li class="breadcrumb-item"><a
                    href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">
                    {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
                  </a>
                </li>
                {% endif %}
                {% endfor %}
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Breadcrumb Shape -->
  <div class="breadcrumb-shape breadcrumb-shape-outline breadcrumb-shape-outline-1 animate-zoom-in-out"></div>
  <div class="breadcrumb-shape breadcrumb-shape-outline breadcrumb-shape-outline-2 animate-zoom-in-out"></div>
  <div class="breadcrumb-shape breadcrumb-shape-outline breadcrumb-shape-outline-3 animate-zoom-in-out"></div>
  <div class="breadcrumb-shape breadcrumb-shape-outline breadcrumb-shape-outline-4 animate-zoom-in-out"></div>
  <div class="breadcrumb-shape breadcrumb-shape-fill breadcrumb-shape-fill-1 animate-zoom-in-out"></div>
  <div class="breadcrumb-shape breadcrumb-shape-fill breadcrumb-shape-fill-2 animate-zoom-in-out"></div>
  <!-- End Breadcrumb Shape -->
</div>
<!-- ...::: End Breadcrumb Section :::... -->
{{ content }}